:root {
  --font-family: "Berlin Sans FB", sans-serif;
  --second-family: "Google Sans", sans-serif;
  --third-family: "Berlin Sans FB Demi", sans-serif;
  --font4: "Poppins", sans-serif;
  --font5: "Balsamiq Sans", sans-serif;
}
